.height_power {
    background-color: brown;
}

.medium_power {
    background-color: green;

}

.low_power {
    background-color: wheat;

}

.card-image {
    max-height: 200px;
    overflow: hidden;
}

.hero-power {
    font-size: 30px;
    font-weight: 600;
    color: white;
}