
.height_power{
    background-color: brown;
}
.medium_power{
    background-color: green;

}
.low_power{
    background-color: wheat;

}
.hero{
    max-height: 43em;
}
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }